.aboutMeWrapper{
    display: flex;
    width: 100%;
    /* gap: 3em; */
    padding: 3em 6em;
    box-sizing: border-box;
    background-color: #52463b;
}

.aboutMeWrapper h2 {
    font-size: 3em;
    border-bottom: 1px solid white;
    margin-bottom: 0;
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

.aboutMePhoto{
    background-image: url('../../assets/Lucy-43.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 49%;
    height: 33em;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

.aboutMeDescription  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: slideInFromRight 1s ease-in-out;
}

.aboutMeDescription h2 {
    width: 10em;
}

.aboutMeDescription p {
    width: 40%;
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 100%;
    }
  }

.aboutMeDescription button{
    /* margin-top: auto; */
    width: 35%;
    animation: slideInFromBottom 1s ease-in-out;
}